/* Hebrew designs and RTL Fixes by Yahav */

.rtl,
.image-with-text,
.footer__content-top,
.rte p,
.product__info-container,
.accordion summary,
.drawer__inner {
  direction: rtl;
}

.image-with-text__text p {
  text-align: right;
}

.price span.price-item,
.price s.price-item {
  margin: 0 0 0 1rem;
}

button.drawer__close {
  right: auto;
  left: -10px;
}

summary svg.icon.icon-caret {
  right: auto;
  left: 1.5rem;
}

.cart-drawer tr.cart-item>td+td {
  padding-right: 1rem;
  padding-left: 0;
}

.cart-item__quantity-wrapper {
  justify-content: space-between;
}

@media only screen and (min-width: 750px) {
  .image-with-text__content--desktop-right>* {
    align-self: flex-start;
  }

  .header__inline-menu {
    direction: rtl;
  }
}