/* Hebrew designs and RTL Fixes by Yahav */

.rtl,
.image-with-text,
.footer__content-top,
.rte p,
.product__info-container,
.accordion summary,
.drawer__inner,
div.main-blog,
.article-template,
.article-template__comment-wrapper,
.customer,
.account,
.collection-hero,
.product-grid-container,
.facets-wrapper,
.menu-drawer__utility-links,
.multicolumn-list,
.main-page-section,
.announcement-bar__message,
.cart__login-title,
.cart__login-paragraph,
.shopify-section cart-items,
.rte ul,
.footer__copyright,
.collection__title.title-wrapper,
slider-component .card-information,
.template-404,
.rich-text__blocks,
div[class*="kl-private-reset-css"],
.banner__box p,
product-recommendations {
  direction: rtl;
}

.image-with-text__text p,
input.field__input,
.customer div.field input,
textarea.field__input,
.customer .field input,
div.customer ul,
div.customer td:before {
  text-align: right;
}

div.customer td:before {
  padding-right: 0;
  padding-left: 2rem;
}

.customer div.field input:focus~label,
.customer div.field input:not(:placeholder-shown)~label {
  left: auto;
}

label.field__label,
.customer div.field label {
  left: auto;
  right: calc(var(--inputs-border-width) + 2rem);
}

.price span.price-item,
.price s.price-item,
.menu-drawer__account svg.icon-account,
.form__message--large svg.icon,
div.customer .form__message svg {
  margin: 0 0 0 1rem;
}

button.drawer__close {
  right: auto;
  left: -10px;
}

summary svg.icon.icon-caret {
  right: auto;
  left: 1.5rem;
}

.newsletter-form__field-wrapper input.field__input {
  padding-right: 1.5rem;
  padding-left: 5rem;
}

.newsletter-form__field-wrapper button.newsletter-form__button {
  right: auto;
  left: var(--inputs-border-width);
}

.newsletter-form__field-wrapper button.newsletter-form__button .icon {
  transform: rotate(180deg);
}

.cart-drawer tr.cart-item>td+td {
  padding-right: 1rem;
  padding-left: 0;
}

.cart-item__quantity-wrapper {
  justify-content: space-between;
}

div.totals>*+* {
  margin-left: 0;
}

table.cart-items th,
.login h3.form__message {
  text-align: right;
}

table.cart-items .right.caption-with-letter-spacing {
  text-align: left;
}

.shopify-section .totals {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.article-template__link span.icon-wrap {
  transform: rotate(0);
  margin-right: 0;
  margin-left: 1rem;
}

.account a svg {
  margin-right: 0;
  margin-left: 1rem;
}

.customer span.form__message svg {
  margin-right: 0;
  margin-left: 1.5rem;
}

.rte strong {
  direction: rtl;
}

li.whitespace-normal strong,
.shopify-policy__container .rte strong,
.rte li p {
  display: inline;
}

.shopify-policy__body {
  padding-bottom: 3rem;
}

.shopify-policy__container .rte img {
  border: none;
}

.footer__copyright.caption .copyright__content:first-child {
  direction: ltr;
  display: block;
}

@media only screen and (min-width: 750px) {
  .image-with-text__content--desktop-right>* {
    align-self: flex-start;
  }

  .header__inline-menu {
    direction: rtl;
  }

  :is(div.account, div.order)>div:nth-of-type(2)>div:first-of-type {
    padding-right: 0;
    padding-left: 3.2rem;
  }

  div.customer th,
  div.customer td:first-of-type,
  div.customer tfoot td:first-of-type {
    text-align: right;
  }

  .cart-items th.cart-items__heading--quantity,
  .cart-item th.cart-item__quantity,
  .cart-item__quantity--info quantity-popover>* {
    padding-left: 0;
    padding-right: 5rem;
  }

  tr.cart-item>td+td {
    padding-left: 0;
    padding-right: 4rem;
  }
}

/* App designs, may include !important */

.stamped-container {
  direction: rtl;
}

div[data-widget-load-type=continue].stamped-container ul.stamped-pagination li.next a:before {
  content: 'חוות דעת נוספות' !important;
}

span.stamped-summary-text-1 {
  margin-right: 0;
  margin-left: 5px;
}

div.stamped-container,
h3.stamped-review-header-title {
  text-align: right;
}

div.stamped-review-avatar {
  margin-right: 0;
  margin-left: 10px;
}

.stamped-review strong.author {
  margin-right: 0;
  margin-left: 7px;
}

span.stamped-review-header-starratings {
  margin-right: 0;
  margin-left: -2px;
}

div.stamped-reviews-filter,
div.stamped-header div.stamped-summary span.stamped-summary-actions,
div.stamped-review-body>div.stamped-review-product>a,
div.stamped-review-footer {
  display: none !important;
}

.st-f-l,
.stamped-review-header #stamped-review-avatar,
.stamped-review-header .stamped-review-avatar,
.stamped-review-reply #stamped-review-avatar,
.stamped-review-reply .stamped-review-avatar {
  float: right !important;
}

.stamped-review-header div.created,
.stamped-review-header-byline div.created {
  float: left !important;
}

div[class^="needsclick  kl-private-reset-css-"]>a {
  display: none !important;
}

div[class^="klaviyo-form"],
form[class^="klaviyo-form"],
form.klaviyo-form p,
form.klaviyo-form input,
div[id^="rich-text-"] {
  direction: rtl !important;
}

form.klaviyo-form input {
  text-align: right !important;
  padding: 0 16px 0 0 !important;
}

form.klaviyo-form label {
  text-align: right !important;
}

div.klaviyo-countdown {
  direction: ltr !important;
}

@media screen and (min-width: 750px) {

  div.summary-overview,
  div.stamped-summary-ratings {
    float: right !important;
  }

  div.stamped-summary-ratings {
    padding-left: 0;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 0;
  }
}