/* Hebrew designs and RTL Fixes by Yahav */

.rtl,
.image-with-text,
.footer__content-top,
.rte p,
.product__info-container,
.accordion summary,
.drawer__inner,
div.main-blog,
.article-template,
.article-template__comment-wrapper {
  direction: rtl;
}

.image-with-text__text p, input.field__input, .customer .field input {
  text-align: right;
}

label.field__label, .customer .field label {
  left: auto;
  right: calc(var(--inputs-border-width) + 2rem);
}

.price span.price-item,
.price s.price-item {
  margin: 0 0 0 1rem;
}

button.drawer__close {
  right: auto;
  left: -10px;
}

summary svg.icon.icon-caret {
  right: auto;
  left: 1.5rem;
}

.cart-drawer tr.cart-item>td+td {
  padding-right: 1rem;
  padding-left: 0;
}

.cart-item__quantity-wrapper {
  justify-content: space-between;
}

.article-template__link span.icon-wrap {
  transform: rotate(0);
  margin-right: 0;
  margin-left: 1rem;
}

@media only screen and (min-width: 750px) {
  .image-with-text__content--desktop-right>* {
    align-self: flex-start;
  }

  .header__inline-menu {
    direction: rtl;
  }
}

/* App designs, may include !important */

#trustoo-mask, #trustoo-mask * {
  direction: rtl;
}